body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 0px 10px;
    border-radius: 10px;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 3.5rem;
}

.b {
    display: flex;
    justify-content: space-around; /* This will place space evenly between the buttons */
    flex-direction: row;
}

button {
    margin-top: auto;
    font-size: 30px;
    margin: 0;
    width: 200px;
    height: 60px;
    background-color: black;
    color: white;
    text-align: center;
    cursor: pointer;
}

#box {
    display: flex;
    flex-direction: column;
    height: 100px; /* Initial size of the box */
    width: 100px; /* Initial size of the box */
    border: 5px solid;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px; /* Adjusted for smaller initial size */
    margin: 20px auto; /* Center the box */
}
